* {
	background-image: none;
	box-shadow: none;
}

window {
  background-image: url("/home/ikanop/wallpapers/wall-01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
    border-radius: 10px;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1a1b26;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #7aa2f7;
	outline-style: none;
}

#logout {
    margin: 0px 20px;
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
